.cabecera-fondo {
	background-image: url(../images/top_fondo.gif);
}

.cabecera-paleta {
	background-image: url(../images/paleta.gif);
	height: 4px;
}

.no-padding {
	padding: 0px;
	margin: 0px;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

/*
.panel-bienvenida {
	border: 1px solid;
	border-radius: 5px;
	height: 24px;
	background-color: #EBEBEB;
	font-weight: bold;
}
*/

.menu {
	height: 50px;
}

.titulo-pagina {
	background-color: #0082B5;
	color: white;
}

