<template>
  <div class="container contenedor">
    <div class="">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 left-panel">
        <a href="/">
          <div class="row logo">
            <img src="/static/img/logok.png" class="center-block logo" style="float: left; position: absolute;">
          </div>
        </a>
        <div class="row formulario" style="float: right;">
          <h4>Iniciar sesión</h4>
          <div class="text-center col-xs-8 col-xs-offset-2  ">
            <!-- login form -->
            <form class="separador"  @submit.prevent="checkCreds">

              <div class="group">
                <input  name="username"  type="text" v-model="username" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Nombre de usuario</label>
              </div>
              <div class="group">
                <input  name="password"  type="password" v-model="password" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Clave del usuario</label>
              </div>
              <button type="submit" v-bind:class="'btn btn-primary btn-lg ' + loading">
              <i class="el-icon-loading" v-if="loadingGif"/>
              Iniciar sesión
              </button>
            </form>

            <div v-if=response class="text-red"><p>{{response}}</p></div>

            <router-link to="/reestablecer">
            <h5>  <el-link :underline="false">¿Olvidaste tu contraseña?</el-link>
              </h5>
            </router-link>

            <br>
            <strong>¿Primera vez que ingresás?</strong>
            <!--<router-link v-if="!paramError" to="/solicitud">
              <h5>  
                <el-link :underline="false">Solicitud de Usuario</el-link>
              </h5>
            </router-link>-->
            <router-link v-if="!paramErrorProv" to="/userActivation">
              <h5>  
                <el-link :underline="false">Alta de Proveedor</el-link>
              </h5>
            </router-link>

            <h6 style="color:grey">Operar con el Portal de Proveedores implica aceptar el <strong><a target="_blank" :href="configuration">
            Código de Conducta para Proveedores</a></strong></h6>

            <!-- errors -->
          </div>
        </div>

        </div>
      </div>


      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 right-panel login-image">
        <div class="container">
          <div class="row right-buttons">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

              <div class="titulo ">Bienvenido al <br> Portal de Compras y Proveedores</div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</template>

<script>
import api from '../api'

export default {
  name: 'Login',
  data (router) {
    return {
      section: 'Login',
      loading: '',
      loadingGif: false,
      username: '',
      password: '',
      response: '',
      paramError: null,
      paramErrorProv: null,
      configuration: ''
    }
  },
  mounted () {
    window.localStorage.removeItem('token')
  },
  methods: {
    getEticalCode () {
      api.request('get', 'api/findConfiguration/CODETI')
      .then(response => {
        this.configuration = response.data['value']
      })
      .catch(error => {
        console.log(error)
      })
    },
    checkCreds () {
      this.loadingGif = true
      const {username, password} = this
      window.localStorage.removeItem('token')

      this.toggleLoading()
      this.resetResponse()
      this.$store.commit('TOGGLE_LOADING')

      // We need to pass the component's this context
      // to properly make use of http in the auth service
      api.request('POST', 'api/login', {username, password}, false)
      .then(response => {
        this.loadingGif = false
        this.toggleLoading()

        var data = response.data
        /* Checking if error object was returned from the server */
        if (data.error) {
          var errorName = data.error
          console.log(errorName)
          if (errorName) {
            if (errorName === 'Usuario bloqueado') {
              this.$confirm('El usuario se encuentra bloqueado ¿Desea reestablecer su contraseña?', 'Atención', {
                confirmButtonText: 'Enviar',
                cancelButtonText: 'Cancelar',
                type: 'warning'
              }).then(() => {
                this.$router.push('/reestablecer')
                .then(response => {
                })
              })
                .catch(error => {
                  console.log(error)
                })
            } else {
              this.response = errorName === 'InvalidCredentialsError'
              ? 'Usuario o clave incorrectos. Intente nuevamente.'
              : errorName
            }
          } else {
            this.response = data.error
          }

          return
        }

        /* Setting user in the state and caching record to the localStorage */
        if (data.user) {
          this.$store.commit('SET_USER', data.user)
          this.$store.commit('SET_TOKEN', data.token)

          if (window.localStorage) {
            this.$session.start()
            this.$session.set('jwt', data.token)

            window.localStorage.setItem('user', JSON.stringify(data.user))
            window.localStorage.setItem('token', data.token)
          }
          if (data.reqPsw === '2') {
            // this.$router.push(data.redirect ? data.redirect : '/changePsw')
            this.$router.push(data.redirect ? data.redirect : '/')
          } else {
            this.$router.push(data.redirect ? data.redirect : '/')
          }
        }
      })
      .catch(error => {
        this.$store.commit('TOGGLE_LOADING')
        console.log(error)

        this.response = 'Error al conectarse con el servidor, contacte al administrador.'
        this.toggleLoading()
        this.loadingGif = false
      })
    },
    toggleLoading () {
      this.loading = (this.loading === '') ? 'cargando' : ''
    },
    resetResponse () {
      this.response = ''
    }
  },
  beforeMount () {
    this.getEticalCode()
    api.request('get', 'api/checkParam?id=AP-001')
      .then(response => {
        var data = response.data
        console.log(data.error)

        if (data.error) {
          this.paramErrorProv = data.error
        }
      })
      .catch(error => {
        console.log(error)
      })
    api.request('get', 'api/checkParam?id=SUN-001')
      .then(response => {
        var data = response.data
        console.log(data.error)

        if (data.error) {
          this.paramError = data.error
        }
      })
      .catch(error => {
        console.log(error)
      })
  }
}
</script>

<style>
* {
  margin:  0;
  padding: 0;
}
@media (max-width: 990px) {
    .login-image {
      display: none;
    }
  }
html, body, .container-table {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}
h4 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: .4px;
  color: rgba(21, 28, 41, .48);
  padding: 15px 0 5px;
  margin: 5px 0;
}
h5 {
  font-size: 11px;
  font-weight: 300;
  letter-spacing: .4px;
  color: rgba(21, 28, 41, .48);
  padding: 15px 0 5px;
  margin: 5px 0;
}

.mensaje h4 {
  color: #fff;
  position: inherit;
  font-size: 24px;
  letter-spacing: 3.4px;
  top: -114px;
  line-height: 36px;
}
.container-table {
    display: table;
    color: white;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.vertical-20p {
  padding-top: 20%;
}
.vertical-10p {
  padding-top: 10%;
}
.logo {
  padding: 1em;
  max-width: 240px;
  width: 20vw;
  float: left;
}
.loginForm .input-group {
  padding-bottom: 1em;
  height: 4em;
}
.input-group input {
  height: 4em;
}

.formulario{
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 10vh;
}
.contenedor{
  height: 100vh;
  width: 100%;
  margin:  0;
  padding: 0;
}
.left-panel{
  min-height: 100vh;
}
.right-panel {
  background-image: url('/static/img/iproveedoresFront.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 150vh;
  height: 100vh;
  background-color: #001588;
}
.circle{
  border-radius: 45px;
}
.titulo{
  text-align: center;
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px rgba(21,28,41,.48);
  width: 100%;
  padding: 0 15px;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.right-buttons{
  padding-top: 40vh;
}
.left-buttons{
  padding-top: 20vh;
}
.left-button{
  background-color:rgba(0,0,0,.2);
}
.text-butons{
  font-size: 12px;
  color: #2C0072;
}
.opaco{
  background-color:rgba(255,255,255,.5);
}
.separador{
  position: relative;
  padding-top: 10vh;
}
/*----------PAPER-----------*/
/* form starting stylings ------------------------------- */
.group        {
  position:relative;
  margin-bottom:45px;
}
input         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width: 100%;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus     { outline:none; }

/* LABEL ======================================= */
label          {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:100%; }
.bar:before, .bar:after   {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

.text-butons {
    font-size: 12px;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
</style>
