@import "main";

header
{
	text-align: right;
	margin: 5px 0 5px 0;
}

footer
{
	text-align: left;
	margin: 5px 0 5px 0;
}

.container
{
	width: 800px!important;
	font-size: 14px;
	padding: 12px 50px;
}

.layout-informes
{
	font-family: 'Calibri';
	font-size: 18px;

	p
	{
		font-size: 18px;
	}

	.fecha
	{
		text-align: right;
		font-size: 13px;
		margin: 10px 0;
	}

	.nombres
	{
		text-align: left;
		margin: 8px 0;

		.name
		{
			font-weight: bold;
		}
	}
	.texto
	{
		text-align: left;
		margin: 8px 0;
	}
	.firma
	{
		text-align: center;
		margin: 8px 0;

		.imagen
		{}

		.aclaracion
		{}

		.cargo
		{
			font-weight: bold;
		}
	}

	h2
	{
		font-size: 22px;
		font-weight: bold;
	}
	h3
	{
		font-size: 20px;
		font-weight: bold;
		font-style: italic;
	}

	ul
	{
		font-family: 'Calibri', Arial;
		font-size: 18px;
		margin-bottom: 15px;
	}
	
}