@import "controllers/site";
@import "mixins";

@media (min-width: 980px) {
  #page {
    padding-top: 110px;
  }
}

.controls-inline
{
	label
	{
		display: inline-block;
	}

	#page-size-ddl
	{
		margin-bottom: 3px;
		width: 120px;
	}
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	border:2px solid #ddd;
	border-radius: 5px;
	font-size: 12px;
	margin: 15px auto;
    text-align: center;
    width: 500px;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#6A9142;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

a.editable-click, a.editable, a.editable:hover, a.editable-click:hover
{
	border-bottom: none;
}

.checklist-container
{
	background: #CCCCCC;
	.border-radius(10px);
	padding: 10px;

	.checklist-header
	{
		border-bottom: 1px solid #555555;
		padding-bottom: 10px;

		.centered-picture
		{
			img
			{
				width: 100%;
			}
		}

		.participant-information
		{
			.participant-contacts
			{
				margin-top: 10px;
				background: #DFDFDF;
				.border-radius(6px);
				padding: 6px;

				h4
				{
					font-size: 16px;
					text-align: center;
				}

				div
				{
					line-height: 30px;
					
					span.info
					{
						font-weight: bold;
					}
				}
			}
		}
	}

	.checklist-detail
	{
		border-bottom: 1px solid #555555;
		padding-bottom: 10px;

		.activity
		{
			background: #FFFFFF;
			border: 1px solid #555555;
			min-height: 30px;
			line-height: 30px;
			.border-radius(2px);
			cursor: pointer;
			
			.span1
			{
				text-align: center;
				border-right: 1px solid #555555;
			}
			.span11
			{
				padding-left: 5px;
			}
		}
	}

	#bitacora
	{
		.bitacora-actions
		{
			margin-bottom: 10px;
			text-align: right;
		}
	
		.bitacora-entry
		{
			background: #FFFFFF;
			border: 1px solid #555555;
			
			.span2
			{
				border-right: 1px solid #555555;
			}

			div
			{
				padding: 4px;
				margin-left: 0;
			}
		}
	}
}

.finished-activity-information, .finished-report-information
{
	font-size: 12px;
	background: #CCCCCC;
	padding: 10px;
	.border-radius(8px);
	margin-top: 10px;

	.information
	{
		.detail
		{
			font-weight: bold;
		}

		.editable-date
		{
			font-size: 10px;

			.table-condensed th, .table-condensed td
			{
				padding: 2px;
			}
		}
	}
}

.checklist-top-actions
{
	margin-bottom: 10px;
}

.add-act-table
{
	tr.clicked
	{
		td
		{
			background: #8ADBEC!important;
		}
	}

	.check
	{
		width: 30px;
		text-align: center;

		input
		{
			margin-top: 0;
		}
	}
}

.activity-actions
{
	float: right;

	/*&:after
	{
		clear: left;
	}*/
}

.modal-add
{
	min-height: 300px;
	padding: 5px;
	
	form
	{
		margin-bottom: 0px;
	}
}

.modal-body
{
	max-height: 250px;
	padding: 8px;
}

.modal-med
{
	min-height: 0;
}

.modal-footer, .modal-header
{
	padding: 8px;
}

.file-form
{
	.information
	{
		margin: 10px 0;

		.detail
		{
			font-weight: bold;
		}
	}
}

.mail-preview
{
	.row-fluid
	{
		margin-top: 10px;
	}
	
	span.field
	{
		font-style: italic;
		font-size: 13px;
	}
}

.report
{
	.report-data
	{
		margin: 15px 0;
	}

	.graph
	{
		margin: 10px auto;
		text-align: center;
	}
}


.modal
{
	width: 760px;
	left: 43%;
}

.big-modal
{
	width: 880px;
	left: 40%;
	top: 5%!important;

	.modal-body
	{
		max-height: 450px;
	}
}

.newpage
{
	page-break-before: always;
}


#programFilter
{
  label.checkbox
  {
    display: inline-block;
    width: 30%;
  }
}

#programFilterReports
{
  label
  {
    display: inline-block;
    margin: 0 0 5px 5px;
    //width: 40%;
  }

  input
  {
    margin: 0 0 0 5px;
  }
}

.help-block
{
  font-size: 11px;
  font-style: italic;
}