.site-login {
  margin: 80px 0;
  text-align: center;
}
.site-login h1 {
  margin-bottom: 25px;
}
.site-login .login-form {
  margin: auto;
  width: 220px;
}
.site-down {
  margin: 80px 0;
  text-align: center;
}
@font-face {
  font-family: 'Calibri';
  src: url('fonts/calibri/CALIBRI.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CalibriB';
  src: url('fonts/calibri/CALIBRIB.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'CalibriI';
  src: url('fonts/calibri/CALIBRII.TTF') format('truetype');
  font-weight: normal;
  font-style: italic, oblique;
}
@font-face {
  font-family: 'CalibriBI';
  src: url('fonts/calibri/CALIBRIZ.TTF') format('truetype');
  font-weight: bold;
  font-style: italic, oblique;
}
@media (min-width: 980px) {
  #page {
    padding-top: 110px;
  }
}
.controls-inline label {
  display: inline-block;
}
.controls-inline #page-size-ddl {
  margin-bottom: 3px;
  width: 120px;
}
div.flash-error,
div.flash-notice,
div.flash-success {
  padding: .8em;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 12px;
  margin: 15px auto;
  text-align: center;
  width: 500px;
}
div.flash-error {
  background: #FBE3E4;
  color: #8a1f11;
  border-color: #FBC2C4;
}
div.flash-notice {
  background: #FFF6BF;
  color: #514721;
  border-color: #FFD324;
}
div.flash-success {
  background: #E6EFC2;
  color: #6A9142;
  border-color: #C6D880;
}
div.flash-error a {
  color: #8a1f11;
}
div.flash-notice a {
  color: #514721;
}
div.flash-success a {
  color: #264409;
}
a.editable-click,
a.editable,
a.editable:hover,
a.editable-click:hover {
  border-bottom: none;
}
.checklist-container {
  background: #CCCCCC;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
}
.checklist-container .checklist-header {
  border-bottom: 1px solid #555555;
  padding-bottom: 10px;
}
.checklist-container .checklist-header .centered-picture img {
  width: 100%;
}
.checklist-container .checklist-header .participant-information .participant-contacts,
.checklist-container .checklist-header .participant-information  {
  margin-top: 10px;
  background: #DFDFDF;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  padding: 6px;
}
.checklist-container .checklist-header .participant-information .participant-contacts h4,
.checklist-container .checklist-header .participant-information  h4 {
  font-size: 16px;
  text-align: center;
}
.checklist-container .checklist-header .participant-information .participant-contacts div,
.checklist-container .checklist-header .participant-information  div {
  line-height: 30px;
}
.checklist-container .checklist-header .participant-information .participant-contacts div span.info,
.checklist-container .checklist-header .participant-information  div span.info {
  font-weight: bold;
}
.checklist-container .checklist-detail {
  border-bottom: 1px solid #555555;
  padding-bottom: 10px;
}
.checklist-container .checklist-detail .activity {
  background: #FFFFFF;
  border: 1px solid #555555;
  min-height: 30px;
  line-height: 30px;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  cursor: pointer;
}
.checklist-container .checklist-detail .activity .span1 {
  text-align: center;
  border-right: 1px solid #555555;
}
.checklist-container .checklist-detail .activity .span11 {
  padding-left: 5px;
}
.checklist-container #bitacora .bitacora-actions {
  margin-bottom: 10px;
  text-align: right;
}
.checklist-container #bitacora .bitacora-entry {
  background: #FFFFFF;
  border: 1px solid #555555;
}
.checklist-container #bitacora .bitacora-entry .span2 {
  border-right: 1px solid #555555;
}
.checklist-container #bitacora .bitacora-entry div {
  padding: 4px;
  margin-left: 0;
}
.finished-activity-information,
.finished-report-information {
  font-size: 12px;
  background: #CCCCCC;
  padding: 10px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
  margin-top: 10px;
}
.finished-activity-information .information .detail,
.finished-report-information .information .detail {
  font-weight: bold;
}
.finished-activity-information .information .editable-date,
.finished-report-information .information .editable-date {
  font-size: 10px;
}
.finished-activity-information .information .editable-date .table-condensed th,
.finished-activity-information .information .editable-date .table-condensed td,
.finished-report-information .information .editable-date .table-condensed th,
.finished-report-information .information .editable-date .table-condensed td {
  padding: 2px;
}
.checklist-top-actions {
  margin-bottom: 10px;
}
.add-act-table tr.clicked td {
  background: #8ADBEC !important;
}
.add-act-table .check {
  width: 30px;
  text-align: center;
}
.add-act-table .check input {
  margin-top: 0;
}
.activity-actions {
  float: right;
}
.modal-add {
  min-height: 300px;
  padding: 5px;
}
.modal-add form {
  margin-bottom: 0px;
}
.modal-body {
  max-height: 250px;
  padding: 8px;
}
.modal-med {
  min-height: 0;
}
.modal-footer,
.modal-header {
  padding: 8px;
}
.file-form .information {
  margin: 10px 0;
}
.file-form .information .detail {
  font-weight: bold;
}
.mail-preview .row-fluid {
  margin-top: 10px;
}
.mail-preview span.field {
  font-style: italic;
  font-size: 13px;
}
.report .report-data {
  margin: 15px 0;
}
.report .graph {
  margin: 10px auto;
  text-align: center;
}
.modal {
  width: 760px;
  left: 43%;
}
.big-modal {
  width: 880px;
  left: 40%;
  top: 5% !important;
}
.big-modal .modal-body {
  max-height: 450px;
}
.newpage {
  page-break-before: always;
}
#programFilter label.checkbox {
  display: inline-block;
  width: 30%;
}
#programFilterReports label {
  display: inline-block;
  margin: 0 0 5px 5px;
}
#programFilterReports input {
  margin: 0 0 0 5px;
}
.help-block {
  font-size: 11px;
  font-style: italic;
}


/** HOME - LOGIN **/

#full-screen-background-image {
        z-index: -999;
        width: 100%;
        height: 93%;
        position: fixed;
        top: 0;
        left: 0;                
}

/** GENERAL **/
#footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        /*padding-bottom:10px;*/
        background-color: #fafafa;
        background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
        background-repeat: repeat-x;
}

#footer_text{
        margin-left: 0 auto;
        position: relative;
        text-align: center;
        font-weight: bold;
        text-align: center;
        padding-bottom: 1%;
}

#footer_span {

}

#dashboard_div {
        width: 100%;
}

.titulo_col_dash {
        font-weight: bold;
        font-size: 16px;
}

#nombre_app { 
  color: #676A70;
  /*#F0F0F0*/
  font-family: helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  font-variant: normal;
  text-shadow: 5px 4px 3px #ACB2B8;
}

#texto_portal {
        color: #F0F0F0;       
        font-size: 16px;
        line-height: 25px;
        width: 35%;
        float: left;
        text-align: left;
        font-family:arial, helvetica, sans-serif;
        margin-top: 5%;
}

#texto_bienvienida_portal {
        text-shadow:5px 2px 2px rgba(31,31,31,1);
        font-weight: bold;
        font-size: 20px;
        color:#F0F0F0;
        text-align:left;        
        line-height:1;
}

#tabla_estados_dashboard {
        width: 400px;
        margin-left:auto; 
        margin-right:auto; 
}

#div_tabla_estados_dashboard {
        text-align: center;
}

.columna_centrada {
        text-align: center !important;
}

.modal-body{
        max-height: 400px;
}

.factura_table {
        margin-top: 20px;
        margin-bottom: 20px;
}

.factura_table  th, .factura_table  td {
   border: 1px solid black;
}
        
.table-striped tbody>tr:nth-child(even)>td, .table-striped tbody>tr:nth-child(even)>th {
    background-color: #fff;
}

.table-bordered thead:first-child tr:first-child>th:first-child, .table-bordered tbody:first-child tr:first-child>td:first-child, .table-bordered tbody:first-child tr:first-child>th:first-child,
.table-bordered thead:first-child tr:first-child>th:last-child, .table-bordered tbody:first-child tr:first-child>td:last-child, .table-bordered tbody:first-child tr:first-child>th:last-child {
    background-color: #fff;
}