<template>
  <div>


    <section class="content">
      
      <div class="row" v-if="statusList">
        <div class="col-md-12 col-lg-12">
          <div class="box box-info">
            <div class="box-body">
              <table class="table table-striped">
                <thead>
                  <tr style="'font-size: 15px; text-align:center;">
                    <th :style="'text-align: center; vertical-align: middle;width: ' + (100 / statusList.length) + '%'" v-for="(item, index) in statusList">{{item.description}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="font-size: 25px; text-align:center" >
                    <td  class="statusHover" v-for="(item, index) in statusList" v-on:click="searchStatus(item.statusId)">{{getCountByStatus(item.statusId)}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center" v-if="response" >
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div class="info-box ">
                <span class="info-box-icon bg-yellow"><i class="ion ion-android-alert"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Advertencia</span>
                  <span class="info-box-info">{{response}}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
            <!-- /.info-box -->
          </div>
        </div>
      </div>


      <div class="box-body">
        <div style="margin-bottom: 10px">
          <el-row>
            <el-col :span="6">
              <!--
                <el-input type="text" placeholder="Nic" clearable v-model="filters[2].value">
                </el-input>
              -->
              <el-button style="background-color : #909090; color : #ffffff" @click="createOperation()" v-if="user.isProvider">
                  Crear Operación
              </el-button>
            </el-col>
            <el-col :span="6">
              <el-select clearable placeholder="Estado" multiple v-model="filters[0].value">
                <el-option v-for="item in statusList" :value="item.statusId" :label="item.description"></el-option>
              </el-select>
            </el-col>
            <el-col :span="6">
              <el-date-picker
              v-model="filters[1].value"
              type="daterange"
              range-separator="A"
              start-placeholder="Desde"
              end-placeholder="Hasta"
              unlink-panels>
              </el-date-picker>
            </el-col>
          </el-row>
        </div>
        <data-tables :data="otherOperations" class="table-responsive" :pagination-props="{ pageSizes: [10, 20, 30] }"  :filters="filters">
        
          <el-table-column v-for="title in titles" :prop="title.prop" v-if="!user.isProvider || (user.isProvider && title.forProvider)" :label="title.label" :key="title.prop" sortable="custom">
          </el-table-column>
          <el-table-column label="Estado" :align="'center'">
            <template slot-scope="scope">
              {{ getStatusName(scope.row.statusId) }}
            </template>
          </el-table-column>
          <el-table-column :align="'center'" v-if="false && user.isProvider" :label="'Factura'" width="100px">
            <template slot-scope="scope">
              <span v-if="scope.row.mensajeFacturaRechazada === null">
                <el-tooltip class="item" effect="dark" v-if="scope.row.statusId === '4'" content="Enviada" placement="right">
                  <i class="el-icon-upload2"></i>
                </el-tooltip>
                <el-tooltip class="item" effect="dark" v-if="scope.row.statusId === '5'" content="Aceptada" placement="right">
                  <i class="el-icon-check"></i>
                </el-tooltip>
                <el-tooltip class="item" effect="dark" v-if="scope.row.statusId <= '3'" content="Sin subir" placement="right">
                  <i class="el-icon-minus"></i>
                </el-tooltip>
              </span>
              <span v-else>
                <el-tooltip class="item" effect="dark" content="Rechazada" placement="right">
                  <i class="el-icon-close"></i>
                </el-tooltip>
              </span>
            </template>
          </el-table-column>
          <el-table-column :align="'center'" v-if="false && user.isProvider" :label="'G. Pago'" width="100px">
            <template slot-scope="scope">
              <span v-if="scope.row.payment">
                <el-tooltip class="item" effect="dark" v-if="scope.row.payment.visto === '0'" content="Recibido" placement="right">
                  <i class="el-icon-message"></i>
                </el-tooltip>
                <el-tooltip class="item" effect="dark" v-else content="Visto" placement="right">
                  <i class="el-icon-view"></i>
                </el-tooltip>
              </span>
              <span v-else>
                <el-tooltip class="item" effect="dark" content="No posee" placement="right">
                  <i class="el-icon-minus"></i>
                </el-tooltip>
              </span>
            </template>
          </el-table-column>
          
          <el-table-column :align="'center'" v-if="!user.isProvider" :label="'Documentación'" width="100px">
            <template slot-scope="scope">
              <span v-if="scope.row.documents">
                <el-tooltip class="item" effect="dark" v-if="scope.row.view === '0' && (scope.row.statusId === '4')" content="Recibido" placement="right">
                  <i class="el-icon-message"></i>
                </el-tooltip>
                <el-tooltip class="item" effect="dark" v-else content="Visto" placement="right">
                  <i class="el-icon-view"></i>
                </el-tooltip>
              </span>
              <span v-else>
                <el-tooltip class="item" effect="dark" content="No posee" placement="right">
                  <i class="el-icon-minus"></i>
                </el-tooltip>
              </span>
            </template>
          </el-table-column>
          <el-table-column label="" :align="'center'">
            <template slot-scope="scope">
              <el-tooltip class="item" effect="dark" content="Detalles" placement="top"> 
                  <el-button type="primary" icon="el-icon-view" circle @click="goToDetails(scope.row.idBuyOrder)"></el-button>
              </el-tooltip>
            </template>
          </el-table-column>
        </data-tables>
      </div>
    </section>
  </div>
</template>
<script>
  require('moment')
  // Require needed datatables modules
  import datepicker from 'vue-date-picker'
  // import api from '../../api'
  import MaskedInput from 'vue-text-mask'
import { mapState } from 'vuex'
import api from '../../api'
  export default {
    name: 'Search',
    components: {
      datepicker,
      MaskedInput
    },
    data (router) {
      return {
        section: 'Search',
        loading: '',
        tipoFecha: 'emision',
        estado: '',
        response: '',
        desde: '',
        hasta: '',
        cliente: '',
        referencia: '',
        fecha: '',
        facturas: this.$store.state.facturas,
        providers: null,
        clients: [],
        receptor: '',
        idUser: this.$store.state.user.idUser,
        filtrados: [],
        table: '',
        vue: this,
        rutMask: this.$store.state.rutMask,
        invoiceMask: this.$store.state.invoiceMask,
        titles: [{                      // Columnas que se van a mostrar
          prop: 'idCompany',
          label: 'Proveedor',
          forProvider: false
        },
        {
          prop: 'fecha_liberacion',
          label: 'Fecha',
          forProvider: true
        }],
        filters: [{
          prop: 'statusId',
          value: ''
        },
        {
          filterFn: (row, filter) => {
            return Object.keys(row).some(prop => {
              if (prop === 'fecha_emision') {
                if (filter.value !== null) {
                  return (new Date(row.fecha_emision).getTime() <= filter.value[1].getTime() && new Date(row.fecha_emision).getTime() >= filter.value[0].getTime())
                } else {
                  return true
                }
              }
            })
          },
          prop: ['fecha_emision'],
          value: ''
        },
        {
          prop: 'nic',
          value: ''
        }]
      }
    },
    computed: {
      ...mapState([
        'user'
      ]),
      otherOperations () {
        return this.$store.state.otherOperations.sort(this.compareViewNics)
      },
      statusList () {
        return this.$store.state.countStatus.filter(el => el.statusId === '4' || el.statusId === '5' || el.statusId === '8')
      },
      datetime () {
        return new Date()
      }
    },
    beforeRouteUpdate (to, from, next) {
      if (to === from) {
        this.filters[0].value = from.params.statusId
      }
      next()
    },
    mounted () {
      if (this.$route.params.statusId) {
        this.filters[0].value = this.$route.params.statusId
      }
    },
    methods: {
      createOperation () {
        api.request('POST', 'api/generic/buyOrder', JSON.stringify({'nic': null, 'idCompany': this.user.company.idCompany, 'fecha_liberacion': this.datetime, 'pdf': null, 'statusId': 4, 'view': 0}))
        .then(response => {
          this.$parent.getBuyOrders().then(invoices => {
            this.goToDetails(response.data.idBuyOrder)
          })
        })
      },
      seeCreateOperationModal () {
        this.showModalCreateOperation = true
      },
      searchStatus (status) {
        this.filters[0].value = [status]
        // this.filterInvoices()
      },
      getStatusName (statusId) {
        return this.statusList.find(estado => estado.statusId === statusId).description
      },
      getCountByStatus (statusId) {
        return this.otherOperations.filter(el => el.statusId === statusId).length
      },
      goToDetails (idBuyOrder) {
        this.$router.push('/invoicedetail?i=' + idBuyOrder)
      },
      toggleLoading () {
        this.loading = (this.loading === '') ? 'cargando' : ''
      },
      resetResponse () {
        this.response = ''
      },
      compareViewNics (a, b) {
        if (a.view < b.view) {
          return -1
        } else if (a.view > b.view) {
          return 1
        }
        /* else if (a.payment && b.payment && a.payment.visto < b.payment.visto) {
          return -1
        } else if (a.payment && b.payment && a.payment.visto > b.payment.visto) {
          return 1
        } */
        return 0
      },
      compareViewInvoice (a, b) {
        if (!a.factura) {
          return 1
        }
        if (!b.factura) {
          return -1
        }
        if (a.factura.visto < b.factura.visto) {
          return -1
        } else if (a.factura.visto > b.factura.visto) {
          return 1
        }
        return 0
      }
    }
  }
</script>
<style>
  .datetime-picker input {
    height: 4em !important;
  }

  /* Using the bootstrap style, but overriding the font to not draw in
   the Glyphicons Halflings font as an additional requirement for sorting icons.

   An alternative to the solution active below is to use the jquery style
   which uses images, but the color on the images does not match adminlte. */

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  font-family: 'FontAwesome';
}

table.dataTable thead .sorting:after {
  content: "\f0dc";
}

table.dataTable thead .sorting_asc:after {
  content: "\f0dd";
}

table.dataTable thead .sorting_desc:after {
  content: "\f0de";
}
table.dataTable tr {
  cursor: pointer
}
.table {
  width: 100% !important;
}
.dataTables_length label, .dataTables_filter label{
  margin-bottom: 30px;
  position: static ;
  display:block;
  pointer-events: fill;
  z-index:3000;
}
.statusHover:hover {
  transition: background-color 0.5s ease;
  cursor: pointer;
  background-color:darkgray;
  color:black;
}

.filtro {
  margin-bottom: 10px;
}
.sorting::after, .sorting_asc:after, .sorting_desc:after {
  margin-left: 5px;
}
</style>
